# Rust
/target/
**/*.rs.bk
Cargo.lock

# WebUI
webui/node_modules/
webui/dist/

# IDE
.idea/
*.iml
.vscode/

# Build artifacts
/output/
/module/libs/
/module/webroot/*.js
/module/webroot/*.css
/module/webroot/*.html
!/module/webroot/config.json
!/module/webroot/icon.png

# Device files
device_input/
release/
report/

# Old FrameworkPatch files
*.dex
*.dex.patched
*.jar
*.apk
*.zip
keybox.xml
!module/keybox.xml
!crates/*/keybox.xml

# OS
.DS_Store
Thumbs.db
